services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - "23438:6379"

  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
      - HTTP_USER=${CIFS_USER}
      - HTTP_PASSWORD=${CIFS_PASS}
    restart: always
    ports:
      - "23439:8081"
    depends_on:
      - redis

  mlflow:
    build:
      context: ./mlflow
      dockerfile: Dockerfile
    image: wisrovi/wyoloservice:mlflow
    restart: always
    environment:
      # db
      - MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://postgres:postgres@postgres:5432/wyoloservice # Conexión a PostgreSQL
      # minio
      - MLFLOW_S3_ENDPOINT_URL=http://minio:9000 # URL del servidor MinIO
      - AWS_ACCESS_KEY_ID=${CIFS_USER} # Credenciales de MinIO
      - AWS_SECRET_ACCESS_KEY=${CIFS_PASS} # Credenciales de MinIO
      # mlflow
      - MLFLOW_TRACKING_URI=http://mlflow:5000 # URI de seguimiento de MLflow
      - MLFLOW_ARTIFACT_URI=s3://mlflow-artifacts/ # Bucket en MinIO donde se almacenarán los artefactos
    command: [ "mlflow", "server", "--host", "0.0.0.0", "--port", "5000", "--backend-store-uri", "postgresql+psycopg2://${CIFS_USER}:${CIFS_PASS}@postgres:5432/wyoloservice", "--default-artifact-root", "s3://mlflow-artifacts/" ]
    ports:
      - "23435:5000"

  postgres:
    image: postgres:13.2
    environment:
      - POSTGRES_USER=${CIFS_USER}
      - POSTGRES_PASSWORD=${CIFS_PASS}
      - POSTGRES_DB=wyoloservice
    volumes:
      - /dataset/postgres:/var/lib/postgresql/data
    ports:
      - "23436:5432"
    restart: always

  minio:
    image: minio/minio:RELEASE.2025-02-28T09-55-16Z
    command: server /data --console-address ":9001"
    restart: always
    environment:
      - MINIO_ROOT_USER=${CIFS_USER}
      - MINIO_ROOT_PASSWORD=${CIFS_PASS}
    ports:
      - "23444:9000"
      - "23442:9001"
    volumes:
      - /dataset/mlflow_minio:/data
